/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .prodGrid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 5%;
        /* height: 200px; */
        /* border: 3px solid green; */
    }
    .home_title {
        position: absolute;
        top: 65%;
        /* font-family: 'Roboto Condensed', sans-serif; */
        /* width: 40vw; */
        /* padding: 0px 32px 0 52%; */
        left: 0%;
    }
    .cardStyle {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 5%;
        margin: 10px;
        /* height: 200px; */
        /* border: 3px solid green; */
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}